.touhou_info_container {
    background-color: #1e202b;
    color: #c7c7c7;
    font: bold 12px/22px Arial, sans-serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #101015;
}

.touhou_info_container_fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 39px;
}

.SGPP__gridTileIcons > .touhou_giveaway_points {
    width: auto;
    padding-right: 8px !important;
    padding-left: 8px;
    line-height: 1.5;
}

.touhou_pointer {
    cursor: pointer;
}

.touhou_announcement {
    margin-left: 15px;
}

.touhou_announcement a {
    color: red;
}

.touhou_announcement .touhou_announcement_ignore {
    color: #c7c7c7;
}
